@import 'components/modals';
/*======== Global ========*/
.no-padding {padding: 0;}

.right {
    float: right;
    margin-left: 15px;
}

.fluid,.block-lvl {
    width: 100%;
}

.left {
    float: left;
    margin-right: 15px;
}

iframe {
    max-width: 100%;
    border: 0 none;
}

[data-src] {
    display: block;
    background-size: cover;
}

/*====== Header ========*/
.main-header {
    background:#FFF;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.10);
            box-shadow: 0 0 5px rgba(0,0,0,.10);
    position: relative;
    z-index: 100;
    @extend %fast-motion;
    .container {
        @extend %flexbox;
        @extend .align-between;
        @extend .align-center-y;
        height:100px;
        @include large(false) {
            height: auto;
            display: block;
        }
    }

    //===== Logo
    .logo {
        display: inline-block;
        line-height: 70px;
        img { max-width:154px; }
    }

    //===== Navigation Menu
    @import 'elements/navigation-menu';
    .menu-btn {
        font-size:40px;
        line-height: 70px;
        color:$dark-color;
        @include large(true) { display: none; }
    }

    //=== Social Media
    .social {
        float: $directionReverse;
        text-align: center;
        @include large(false) {
            width: 100%;
            padding: 15px;
            border-top: 1px solid rgba(0, 0, 0, .10);
        }
        //=== Links
        a {
            display: inline-block;
            padding:5px;
            font-size:20px;
            color:#6d6d6d;
            @extend %fast-motion;
            &.lang {font-size: 16px;font-weight: $strong-weight;}
            &:hover { color:$primary-color; }
            &.ti-facebook:hover { color:#7084ff; }
            &.ti-twitter:hover { color:#1fc4f3; }
            &.ti-google-plus:hover { color:#e83e3e; }
            &.ti-instagram:hover { color:#cca767; }
        }
        //=== Time
        span {
            display: block;
            font-size:14px;
        }
    }

    //===== Sticky
    &.isSticky {
        position: fixed;
        left: 0;
        right: 0;
        top:0;
        z-index: 99999;
        @include medium(false) { .social {display: none;} }
    }
}

@import 'elements/mobile-menus';

/*==== Timer ====*/
.timer-block {
    text-align:center;
    direction: ltr;
    
    .table-cell{
        display: inline-block;
        padding:0 5px;
    }

    .tab-val {
        display: block;
        width:38px;
        height: 38px;
        line-height: 38px;
        font-size:15px;
        font-weight: $strong-weight;
        color:#FFF;
        background:$primary-color;
    }

    .tab-unit {
        font-size:13px;
        padding-top:5px;
    }
}


/*========= Home Slider =========*/
.home-slider {
    background:url(../img/slider.png) center;
    background-size: cover;
    //=== Control
    .slick-next,.slick-prev {
        position: absolute;
        z-index: 50;
        top:50%;
        @extend %position-center-y;
        width:38px;
        height:38px;
        border-radius: 50%;
        border:1px solid #FFF;
        line-height: 36px;
        color:#FFF;
        font-size:14px;
        text-align: center;
        @extend %fast-motion;
        @include small(false) {
            top:10%;
        }
    }
    .slick-next {right: 30px;}
    .slick-prev {left: 30px;}
    //=== Item
    .item {
        .row {
            padding:50px 0;
            min-height:320px;
            text-align: center;
            .col-12 {position: relative;}
        }
        
        .price {
            position: absolute;
            bottom:0px;
            #{$direction}:30px;
            padding:12px 20px;
            padding-top: 20px;
            line-height: 1.5;
            font-size:19px;
            text-align: center;
            font-weight: $strong-weight;
            color:#FFF;
            display: block;
            min-width: 200px;
            background: rgba($primary-color,0.8);
            i { display: block;font-size:27px;font-style: normal; }
        }

        h3 {
            font-size:1.7rem;
            color:#FFF;
            line-height: 1.7;
        }
        
        /*==== Timer ====*/
        .timer-block {
            margin-top: 15px;
            .tab-val {
                display: block;
                width:50px;
                height: 50px;
                line-height: 52px;
                font-size:20px;
                font-weight: $strong-weight;
                color:#FFF;
                background:rgba(0,0,0,0.3);
            }

            .tab-unit {
                font-size:17px;
                padding-top:5px;
                color:#FFF;
            }
        }
    }
}

/*===== Home Page ======*/
.page-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner {
    margin-bottom: 30px;
    img { width:100%; }
}

%base-box {
    background: #FFF;
    border: 1px solid rgb(235, 235, 235);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}

.bidz-tabs .head {
    @extend %base-box;
    padding:30px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    //==== Tabs
    .tabs-menu {
        margin: -30px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(235, 235, 235);
        height: 57px;
        word-spacing: -5px;
        @media screen and (max-width:460px) {
            white-space: nowrap;
            overflow-y: visible;
            overflow-x: scroll;
        }
        li {
            word-spacing: normal;
            font-size:15px;
            font-weight: $strong-weight;
            line-height: 55px;
            @extend %fast-motion;
            color:#202020;
            opacity: 0.3;
            padding:0 25px;
            float: $direction;
            @media screen and (max-width:460px) {
                display: inline-block;
                float: none;
            }
            border: 0 none;
            &::before {
                font-size:25px;
                display: inline-block;
                margin-#{$directionReverse}:10px;
            }

            &.active {
                opacity: 1;
                color:$primary-color;
                position: relative;
                border: 1px solid rgba(0, 0, 0, .10);
                border-bottom: 0 none;
                @media screen and (min-width:460px) {
                    top: -9px;
                    padding: 5px 25px;
                }
            }
        }
    }

    //=== Head Title
    h2 {
        padding:0 30px;
        margin: -30px;
        margin-bottom: 0;
        border-bottom: 1px solid rgb(235, 235, 235);
        font-size:15px;
        font-weight: $strong-weight;
        line-height: 55px;
    }

    //=== Small Search
    .search-box {
        margin-#{$directionReverse}: 10px;
        position: relative;
        display: inline-block;
        input:not(.search-btn) { width:300px; }
        @media screen and (max-width:480px) {
            width:100%;
            input:not(.search-btn) { width:100%; }
        }
        .search-btn {
            position: absolute;
            cursor: pointer;
            #{$directionReverse}:5px;
            font-size:13px;
            height: 41px;
            background: transparent;
            border: 0;
            top:0;
        }
    }  
}

/*======== Bid Block =========*/
.bidz-block {
    margin-bottom: 30px;
    @extend %fast-motion;
    //=== Global Style ===//
    .content-box {
        @extend %base-box;
        padding:12px;
        position: relative;
        &::after { @extend %clear-after; }
        //=== Image ===//
        .image {
            overflow: hidden;
            position: relative;
            [data-src] { 
                height: 260px; 
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left:0;
                    right: 0;
                    bottom: 0;
                    background:url(../img/overlay-gride.png) center bottom no-repeat;
                    background-size: 100% auto;
                    height: 111px;
                    opacity: 0.9;
                }
            }
            .bidz-id {
                position: absolute;
                #{$direction}: -15px;
                padding:5px 20px;
                padding-#{$direction}:35px;
                background: rgba(0, 0, 0, 0.70);
                color:#FFF;
                font-size:13px;
                top:15px;
                border-radius: 50px;
            }
            .views {
                position: absolute;
                left:20px;
                top:20px;
                font-size:13px;
                font-weight: $strong-weight;
                line-height: 24px;
                background:#404b5a;
                color:#FFF;
                border-radius:35px;
                padding:0 10px;
                &::before {
                    margin-#{$directionReverse}:5px;
                    font-size:16px;
                    font-weight: normal;
                }
            }
            .sale-tip {
                position: absolute;
                left:20px;
                top:55px;
                font-size:13px;
                font-weight: $strong-weight;
                line-height: 32px;
                background:#e8ecf3;
                color:#404b5a;
                border-radius:35px;
                padding:0 20px;
            }
        }
        h3 {
            margin:0;
            font-size:16px;
            line-height: 25px;
            color:#404b5a;
            margin-top: 15px;
        }

        .price {
            font-size:15px;
            color:$primary-color;
            margin-top: 5px;
        }

        .auther {
            margin-top: 5px;
            font-size:15px;
            color:$secondary-color;
        }

        ul {
            @extend %reset;
            margin-top: 10px;
            li {
                font-size:13px;
                line-height: 25px;
                color:#515151;
                font-weight: $strong-weight;
            }
        }

        .timer-block { 
            .closed { 
                font-size:18px;
                font-weight: $strong-weight;
                color:$danger-color; 
            }
        }
        p:not(.closed) { display: none; }
        .action {
            @extend %flexbox;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            .btn { 
                -webkit-box-flex: 1; 
                    -ms-flex-positive: 1; 
                        flex-grow: 1;
                &.ti-bookmark:not(:last-child) { 
                    width:40px;
                }
                &:first-of-type {
                    border-radius: $round-dir;
                }
                &:last-child {
                    border-radius: $round-dir-rev;
                }
             }
        }
    }

    //=== Grid Only ===//
    &:not(.wide-theme) {
        .timer-block {
            position: absolute;
            left:25px;
            right: 25px;
            top:210px;
            z-index: 5;
            .tab-unit,.closed { color:#FFF; }
            .closed {
                background:$danger-color;
                padding:5px 10px;
            }
        }
        
        .action {margin-top: 15px;}
    }
    //=== List Only ===//
    &.wide-theme {
        width:100%;
        .content-box {
            @extend %flexbox;
            @extend .align-center-y;
            //=== Image ===//
            .image {
                width:30%;
                height: auto!important;
                @include medium(false) { display: none; }
            }

            p {
                display: block;
                font-size:14px;
                line-height: 24px;
                color:#919191;
                margin: 0;
                margin-top: 15px;
            }

            .info {
                width:45%;
                padding:0 30px;
                @include medium(false) { width:65% ;}
                @include small(false) { width: 100%;padding:0 0;margin-bottom: 15px; }
            }

            .action {
                width:25%;
                @include medium(false) { width:35% ;}
                @include small(false) { width: 100%; }
                @include small(true) { 
                    .btn {
                        width:100%;
                        border-radius: 50px;
                        margin-top: 15px;
                    }
                }
            }

            .timer-block {
                width:100%;
            }
        }
    }
}

.big-more {
    display: block;
    text-align: center;
    font-size:19px;
    font-weight: $strong-weight;
    color:#676767;
    &::before {
        content: '';
        display: block;
        margin: auto;
        width:94px;
        height: 24px;
        background: url(../img/more-icon.png);
        margin-bottom: 10px;
    }
}

.pagination {
    @extend %reset;
    background:#FFF;
    border:1px solid rgba(0, 0, 0, .10);
    color:#919191;
    line-height: 30px;
    padding:10px 25px;
    text-align: center;
    font-weight: $strong-weight;
    li {
        display: inline-block;
        a { 
            padding:0 10px;
            color:#919191;
            @extend %fast-motion;
            &:hover,&.active { color:$primary-color; }
         }
    }
}

.partners-section {
    padding: 50px 0;
}

.partners {
    @extend %base-box;
    padding:30px;
    h3 {
        margin: -30px;
        margin-bottom: 30px;
        font-size:17px;
        line-height: 55px;
        border-bottom: 1px solid rgba(0, 0, 0, .10);
        padding:0 30px;
        color:$primary-color;
    }

    .partners-slider {
        margin: 0;
        .slick-next,.slick-prev { 
            width:45px;
            height: 45px;
            position: absolute;
            z-index: 50;
            top:50%;
            background:#FFF;
            border:1px solid rgba(0,0,0,.10);
            font-size:15px;
            line-height: 43px;
            color:#999;
            @extend %position-center-y;
            text-align: center;
            border-radius: 50%;
        }

        img { max-height: 97px; }
        .slick-next { right:-10px }
        .slick-prev { left: -10px; }
    }
}

/*======== Footer ========*/
.main-footer {
    padding-top:50px;
    background:#1d232b;
    color:#cecece;
    h3 {
        font-size:18px;
        line-height: 1;
        margin-bottom: 30px;
        color:#FFF;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .app-down {
        text-align: center;
        h2 {
            font-size:20px;
            line-height: 32px;
            margin-bottom: 30px;
            color:#FFF;
        }
    }

    ul {
        @extend %reset;
        li {
            font-size: 14px;
            line-height: 35px;
            a { 
                color:#cecece;
                @extend %fast-motion;
                &:hover { color:$primary-color; }
            }
        }
    }

    h6 {
        font-size:14px;
        line-height: 35px;
        &:before {
            font-size: 16px;
            margin-#{$directionReverse}:8px;
        }
    }

    .col-12 { margin-bottom: 50px; }

    .copyrights {
        font-size:15px;
        padding:15px 20px;
        padding-bottom: 25px;
        text-align: center;
        background: #171c22;
        line-height: 30px;
        border-top: 1px solid rgba(255,255,255, 0.2);
        img {float: $direction;margin-top: 10px;}
        span {display:inline-block;margin-top: 10px;}
        .social {
            float: $directionReverse;
            margin-top: 10px;
            a {
                width:30px;
                height: 30px;
                font-size:19px;
                line-height: 30px;
                border-radius: 5px;
                color:#FFF;
                display: inline-block;
                &.ti-facebook{background: #7084ff;}
                &.ti-twitter{background: #1fc4f3;}
                &.ti-google-plus{background: #e83e3e;}
                &.ti-instagram{background: #cca767;}
            }
        }
    }
}

/*======== Page Head ========*/
.page-head {
    padding:20px 0;
    background: $primary-color;
    position: relative;
    z-index: 90;
    .head-info {
        display: inline-block;
        //=== Page Title
        h1 {
            font-size:20px;
            color:#FFF;
        }

        //=== Breadcrumb
        .breadcrumb a {
            color:#FFF;
            font-size:14px;
            font-weight:$strong-weight;
            line-height: 25px;
            display: inline-block;
            &:before{
                content:'9';
                padding:0 10px;
                font-weight: normal;
                font-size:16px;
                font-family:"Tornado-icons";
                position: relative;
                top:5px;
            }
            
            &:first-child:before{
                content:'';
                padding:0;
                margin-left: 5px;
            }
        }
    }

    .user-area {
        float: $directionReverse;
        background: #FFF;
        border-radius: 5px;
        position: relative;
        padding:10px 15px;
        margin-top: 5px;
        .user-btn {
            font-size:14px;
            font-weight: $strong-weight;
            color:#4f4f4f;
            line-height: 32px;
            display: block;
            width:220px;
            img {
                margin-left: 10px;
            }
            span {
                float: $directionReverse;
                width:32px;
                height:32px;
                background: #727272;
                font-size:20px;
                text-align: center;
                border-radius: 50%;
                color:#FFF;
                position: relative;
                &::after {
                    content: attr(data-notfic);
                    position: absolute;
                    bottom:0;
                    width:17px;
                    height: 17px;
                    color:#FFF;
                    font-size:9px;
                    font-family: Arial, Helvetica, sans-serif;
                    line-height: 17px;
                    border-radius: 50%;
                    background: $danger-color;
                    #{$direction}:-5px;
                }
            }
        }
        ul {
            @extend %reset;
            position: absolute;
            top:100%;
            left: 0;
            right: 0;
            margin-top: -5px;
            background: #FFF;
            border:1px solid rgba(0, 0, 0, .10);
            border-top: 0 none;
            display: none;
            li {
                font-size:14px;
                line-height: 1;
                border-bottom: 1px solid rgba(0, 0, 0, .10);
                padding:15px;
                color:#171c22;
                @extend %fast-motion;
                font-weight: $strong-weight;
                a { color: #171717;@extend %fast-motion; }
                &:hover {
                    background: $primary-color;
                    a { color:#FFF; }
                }
            }
        }
    }
    
}


.btn-space {
    color:#FFF;
}

.cta-section {
    padding:50px 0;
    color:#FFF;
    background:$secondary-color;
    .info {
        display: inline-block;
    }
    h3 {
        font-size:17px;
    }

    p {
        font-size:15px;
    }
    .btn {
        float: $directionReverse;
        width:150px;
        border-radius: 50px;
        margin-top: 15px;
        padding:15px 25px;
    }
}

/*======= About US =======*/
.about-us {
    h2 {
        font-size:22px;
        color:$secondary-color;
        margin-bottom: 30px;
    }

    p {
        font-size:15px;
        font-weight: $strong-weight;
        color:#404b5a;
    }
}


/*========= Single ========*/
.bidz-head {
    @extend %base-box;
    padding:25px;
    @extend %flexbox;
    @extend .align-center-y;
    margin-bottom: 30px;
    //=== Image ===//
    .bid-cover {
        width:25%;
        .image {
            padding-bottom: 80%;
        }
        @include medium(false) { width:30%; }
        @include small(false) { display: none; }
    }
    
    h3 {
        margin:0;
        font-size:16px;
        line-height: 25px;
        color:#404b5a;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .price {
        font-size:15px;
        color:$primary-color;
        margin-top: 5px;
        span {
            display: block;
            font-size:21px;
        }
        margin-bottom: 15px;
    }

    .time {
        display: block;
        font-size:15px;
        font-weight: $strong-weight;
        color:$secondary-color;
    }
    
    .time-end {
        display: block;
        font-size:15px;
        font-weight: $strong-weight;
        color:$secondary-color;
    }

    .auther {
        margin-top: 5px;
        font-size:15px;
        color:$secondary-color;
    }

    ul {
        @extend %reset;
        li {
            font-size:14px;
            line-height: 25px;
            color:#515151;
            font-weight: $strong-weight;
            span { color:$primary-color; }
            margin-bottom: 5px;
        }
        &.wide {
            li {
                display: inline-block;
                margin-#{$directionReverse}: 15px;
            }
        }
    }

    .timer-block {
        margin-top: 15px;
        text-align: end;
        .table-cell { text-align: center; }
        .closed { 
            font-size:18px;
            font-weight: $strong-weight;
            color:$danger-color; 
        }
    }

    .btn {
        margin-top: 15px;
        -webkit-box-flex: 1; 
            -ms-flex-positive: 1; 
                flex-grow: 1;
        width:50%;
        
        &:first-of-type {
            border-radius: $round-dir;
        }
        &:last-child {
            border-radius: $round-dir-rev;
        }

        @include small(false) { width: 100%;border-radius: 50px!important; }
     }

    .info {
        width:75%;
        @extend %flexbox;
        padding:0 30px;
        @include medium(false) { width: 70%;padding: 0; }
        @include small(false) { width: 100%;padding: 0; }
        .main-info {
            width:65%;
            @include small(false) { width: 100%;}
            .danger-color {
                color:$danger-color;
            }
        }

        .main-info {
            width:70%;
            @include small(false) { width: 100%;padding:0 0;margin-bottom: 15px; }
        }

        .price-info {
            width:30%;
            @include medium(false) { width:35% ;}
            @include small(false) { width: 100%; }
        }

    }
    
}

.full-details {
    @extend %base-box;
    padding:25px;
    margin-bottom: 30px;
    h3 {
        font-size:17px;
        margin-bottom: 15px;
    }
    p {
        font-size:15px;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    ul {
        @extend %reset;
        font-size:15px;
        line-height: 36px;
        color:$secondary-color;
        font-weight:$strong-weight;
        &::after { @extend %clear-after; }
        li {
            float: $direction;
            width:50%;
            padding-#{$directionReverse}:15px;
            @include small (false) { width:100%; }
        }
    }

    .btn {
        float:$directionReverse;
        width:200px;
        font-weight:$strong-weight;
        border-radius:60px;
        margin-top: 15px;
    }
}

.photo-slider {
    margin-bottom: 20px;
    [data-src] {
        display: block;
        padding-bottom: 65%;
    }
}

.thumbs-slider {
    margin-bottom: 30px;
    [data-src] {
        display: block;
        padding-bottom: 65%;
        cursor: pointer;
    }
    .item { @extend %fast-motion; padding: 0 10px;}
    .slick-current { opacity: .7; }
}


.contact-auther {
    @extend %base-box;
    padding:25px;
    margin-bottom: 30px;
    text-align: center;
    h2 {
        font-size:19px;
        color:$primary-color;
        margin-bottom: 20px;
    }
    .contact-block {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.contact-block {
    margin-bottom: 15px;
    .content-box {
        display: block;
        padding:15px;
        font-size:14px;
        font-weight:$strong-weight;
        color:#2b2b2b;
        background: #f5f5f5;
        border-radius:5px;
    }
}


.other-bidz {
    h2 {
        font-size:22px;
        margin-bottom: 30px;
        text-align: center;
    }
}


.cta-alert {
    &::after { @extend %clear-after; }
    font-weight: $strong-weight;
    p {
        float: $direction;
        font-size:17px;
        line-height: 30px;
        width:70%;
    }
    .btn {
        float: $directionReverse;
        border-radius: 50px;
        margin-top: 10px;
        padding:15px 30px;
        font-weight: $strong-weight;
    }
}


.primary-box {
    margin-bottom: 30px;
    .content-box {
        @extend %base-box;
        padding:25px;
        min-width: 100%;
        .head {
            margin: -25px;
            margin-bottom: 25px;
            border-bottom: 1px solid rgba(0,0,0,.10);
            font-size:17px;
            line-height: 56px;
            padding:0 25px;
            .edit {
                font-size:14px;
                float: $directionReverse;
            }
        }  
    }  
}

.primary-box .form-ui .btn {
    padding:15px 25px;
    font-weight:$strong-weight;
    width:130px;
    float: $directionReverse;
}

.main-contact {
    background: $primary-color;
    color:#FFF;
    padding:10px 25px;
    &::before {
        float: $direction;
        display: inline-block;
        width:15%;
        line-height: 55px;
        font-size:32px;
    }
    &:after { @extend %clear-after; }
    margin-bottom: 20px;
    font-size:15px;
    line-height: 24px;
    p {
        float: $direction;
        margin: 0;
        margin-top: 5px;
        display: inline-block;
        width:85%;
    }
}

.social-contact {
    margin-top: 15px;
    text-align: center;
    h4 {
        font-size:18px;
        margin-bottom: 15px;
    }
    a {
        width:50px;
        height: 50px;
        font-size:22px;
        line-height: 50px;
        border-radius: 5px;
        color:#FFF;
        margin: 0 5px;
        margin-bottom: 15px;
        display: inline-block;
        &.ti-facebook{background: #7084ff;}
        &.ti-twitter{background: #1fc4f3;}
        &.ti-google-plus{background: #e83e3e;}
        &.ti-instagram{background: #cca767;}
    }
}
/*========= Inner Pages =======*/
.social-login {
    margin-top: 30px;
    text-align:center;
    h3 {
        font-size:18px;
        line-height: 42px;
    }
}

.round {
    border-radius:5px;
}

.faqs-signup {
    margin-bottom: 30px;
    padding:25px;
    border:1px solid rgba(0, 0, 0, .10);
    p {
        font-size:14px;
        line-height: 22px;
        margin-bottom: 15px;
        &:last-child { margin-bottom: 0; }
    }
}

.jumbtron {
    margin-bottom: 50px;
    h2 {
        margin-bottom: 15px;
    }
}

.accordion-item {
    margin-bottom: 15px;
    background:#FFF;
    border:1px solid rgba(0, 0, 0, .10);
    padding:25px;
    padding-bottom: 0;
    .accordion-title {
        font-size:16px;
        line-height: 56px;
        font-weight: $strong-weight;
        margin: -25px;
        margin-bottom: 0;
        color:#2b2b2b;
        padding:0 25px;
        border-bottom:1px solid rgba(0, 0, 0, .10);
        &::before {
            float: $directionReverse;
            font-size:14px;
            line-height: 56px;
        }
    }
    

    .accordion-content {
        padding: 25px 0;
        p {margin: 0;}
    }
}

/* Accordion */
.accordion .accordion-content:not(.active){
	display:none;
}

.accordion.tornado-ui .accordion-title{
	@extend %fast-motion;
	cursor:pointer;
}

.accordion.tornado-ui .accordion-title:before{
	@extend %fast-motion;
}

.accordion.tornado-ui .accordion-title.active:before{
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

.user-info {
    .col-m-4 {
        text-align: center;
        img {
            width:100%;
        }
    }

    h3 {
        font-size:17px;
        color:$primary-color;
        margin-top: 15px;
    }
    h4 {
        font-size:14px;
        color:#2b2b2b;
        margin-top: 0;
    }

    ul {
        @extend %reset;
        font-size:15px;
        line-height: 36px;
        font-weight:$strong-weight;
        &::after { @extend %clear-after; }
        li {
            padding-#{$directionReverse}:15px;
            @include small (false) { width:100%; }
        }
    }
}

.bua {
    &::after { @extend %clear-after; }
    margin-bottom: 30px;
    .info {
        float:$direction;
        margin-top: 15px;
        .price {
            font-size:22px;
            color:#f55252;
        }
    }
    .btn.big {
        font-size:18px;
        padding:25px;
        font-weight:$strong-weight;
        float:$directionReverse;

    }
}


/*==== Form Clone =====*/
.form-clone{
    padding-#{$directionReverse}:60px;
    position:relative;
    &::after{
        content:'';
        display:block;
        clear:both;
    }

    .clone-btn,.remove-clone{
        width:35px!important;
        height:40px;
        padding:0;
        margin:0;
        text-align:center;
        font-size:15px;
        position:absolute;
        padding:10px 0!important;
        top:50%;
        #{$directionReverse}:0;
        @extend %position-center-y;
    }

    .remove-clone {
        background:$danger-color;
    }
}

.btn.pro{
    width:250px!important;
    margin-top: 15px;
}

/*======== tabs ========*/
.tabs:not(.form-tabs) {
    border:1px solid rgba(0, 0, 0, 0.1);

    .funde-description {
        border:0 none;
        margin: 0;
    }

    .tab-content {
        padding:35px;
        .title-head {
            margin-right: -35px;
            margin-left: -35px;
        }
    }

    .tabs-menu {
        border-bottom:1px solid rgba(0, 0, 0, 0.1);
        margin: 0 -15px;
        @extend %fast-motion;
        li {
            opacity: .7;
            border: 0 none;
            font-weight:$strong-weight;
            @extend %fast-motion;
            &.active{
                opacity: 1;
                position: relative;
                background: $primary-color;
                color:#FFF;
                border-bottom: 0;
            }
        }
    }

    .responsive-btn {
        display: none;
        @include medium(false) {
            display: block;
            width:100%;
            font-size:25px;
            height: 55px;
            background: #FFF;
            border:1px solid rgba(0, 0, 0, 0.1);
        }
    }

    @include medium(false) {
        .responsive-menu {
            display: none;
            height:auto;
            li{display: block;}
        }
    }
}

/*======== Form Tabs ========*/
.form-tabs {
    margin-top: 30px;

    .tabs-menu {
        margin-bottom: 15px;
        text-align: center;
        li {
            margin: 5px;
            font-weight:$strong-weight;
            padding:8px 20px;
            border-radius: 5px;
            &.active {
                background:$primary-color;
                color:#FFF;
            }
        }
    }

    .tab-content {
        border:1px solid $primary-color;
        padding:25px;
    }
    
}

.tabing-bnk {
    .col-12{margin-bottom: 30px;}
    h3 { font-size:18px;margin-bottom: 10px; }
    h4 { font-size:16px; }
    h5 { font-size:15px;margin-top: 20px;  margin-bottom: 20px; color:#676767 ;span {color:#e83e3e;} }
    ul {
        @extend %reset;
        font-size:15px;
        line-height: 30px;
        margin-top: 10px;
    }
    img {
        margin: 10px auto;
    }
    .bank{text-align: center;}
    
}