/*======= Tabs System =======*/
.tab-content{
    display: none;
}

.tab-content.active{
    display: block;
}

.tabs-menu{
    @extend %reset;
    word-spacing: -5px;
}

.tabs-menu li{
    word-spacing: normal;
    display: inline-block;
    padding:15px;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,.10);
    color:$dark-color;
    cursor: pointer;
    background:#FFF;
    @extend %normal-motion;
    &:hover{background: #f7f7f7;}
}