/*===== Navigation Menu =====*/
.navigation-menu {
    //=== Menu Wraper ===//
    position: relative;
    max-width: 100%;
    @extend %fast-motion;
    @include large(false) { float: $directionReverse; }
    //=== Menu List ===//
    > ul {
        word-spacing: -5px;
        display: inline-block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        @include large(false) { display: none; }
        //=== List Item ===//
        > li {
            @extend %fast-motion;
            word-spacing: normal;
            display: inline-block;
            position: relative;
            font-size:16px;
            font-weight: $strong-weight;
            color:#292929;
            padding: 0 15px;
            line-height: 100px;
            .submenu:before {
                float:$directionReverse;
                margin-#{$direction}:5px;
                margin-top:-2px;
                position:relative;
                top:3px;
                line-height:inherit;
                font-size:0.7em;
                @extend %fast-motion;
            }
            //=== List item Link ===//
            > a {
                color:#292929;
                @extend %fast-motion;
                font-weight: $strong-weight;
                &:hover { color:$primary-color; }
                text-transform: uppercase;
                font-family: $primary-font;
            }
            //=== Nested List ===//
            ul {
                display: none;
                padding:0;
                margin:0;
                position: absolute;
                top:100%;
            }
        }
    }

    //==== Submenus ====//
    @include large(true) {
        li:hover ul{
            display: block;
            position: absolute;
            top:100%;
            #{$direction}:0;
            padding:0;
            margin:0;
            background:#FFF;
            width:190px;
            list-style:none;
            border:1px solid rgba(0,0,0,.15);
            li {
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                font-size:14px;
                line-height:40px;
                border-bottom:1px solid rgba(0,0,0,.15);
                color:#2e2e2e;
                padding:0 15px;
                font-weight:normal;
                a {color:#2e2e2e;-webkit-transition: all 0.3s;transition: all 0.3s;}
                &:hover {
                    background:$primary-color;
                    a { color:#FFF; }
                }
            }
        }
    }
}